.RecipeResults-container {
    /* set margin top to 60px to account for our nav bar */
    margin: 70px 2% 20px 2%;

    line-height: 2;

    column-count:         4;
    column-gap:           1%;
    -webkit-column-count: 4;
    -webkit-column-gap:   1%;
    -moz-column-count:    4;
    -moz-column-gap:      1%;  
}

.RecipeResults-imageContainer {
    margin-bottom: 1%;
}

.RecipeResults-image {
    width: 100% !important;
    height: auto !important;
    border-radius: 20px;
}

.RecipeResults-imageContainer:hover {
   opacity: 0.7;
}

.RecipeResults-title {
    font-weight: 100;
    color: gray;
}

@media (max-width: 1110px) {
    .RecipeResults-container {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
}
@media (max-width: 800px) {
    .RecipeResults-container {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
}
@media (max-width: 400px) {
    .RecipeResults-container {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
}