.RecipeResults-container {
    /* set margin top to 60px to account for our nav bar */
    margin: 70px 3% 20px 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.RecipeResults-link {
    display: inline-block;
    width: calc(50% - 4px);
    margin-bottom: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.RecipeResults-link:hover {
    opacity: 0.7;
    text-decoration: none;
}

.RecipeResults-link:nth-of-type(2n) {
    margin-right: 0;
  }

.RecipeResults-image {
    border-radius: 20px; 
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
}

.RecipeResults-caption {
    font-weight: 100;
    color: gray;
}
 
@media screen and (min-width: 40em) {
    .RecipeResults-link {
      width: calc(25% - 6px);
    }
    
    .RecipeResults-link:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    .RecipeResults-link:nth-of-type(4n) {
      margin-right: 0;
    }
  }
